<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Конвертер современной орфографии в дореформенную</title>
</head>
<body>
<h5>Конвертер современной орфографии в дореформенную.</h5>
<form method="post" action="">{% csrf_token %}
    {{ form }}
    <br><br>
    <input type="submit" value="Конвертить"/>
</form>


<p><!--<pre style="white-space:pre-wrap;">-->
    <textarea name="output" rows="15" cols="130">{{ output }}</textarea>
    <!--</pre>--></p>

<p>Для ботов есть страница "/text2do/toDOraw.php". Отвечает на запрос методом POST с текстом в "text".</p>

<p>Результат выдаётся без лишних уточняющих запросов, чем удобен для вычитки книг в викитеке. Более точный конвертер: <a
        href="http://slavenica.com">slavenica.com</a>; правила ДО: <a
        href="http://forum.bazar.nikolaev.ua/index.php?showtopic=2197">там</a>, <a href="http://www.dorev.ru/">там</a>,
    <a href="http://www.dorev.ru/ru-index.html">словарик</a>.</p>

<p>Некоторые из правил конвертации:
<ul>
    <li>После конечных согласных ставится «ъ». За исключением ряда слов, которые могут быть <i>сокращениями</i> («и
        т.д.» и т. п.).
    </li>
    <li>«И» перед гласными меняется на славянскую «і».</li>
    <li>Окончания «ого» → «аго».</li>
    <li>Окончание «е» после согласных → «ѣ». В списке исключенией присутствуют некоторые слова, имеющие окончание «е» в
        своей исходной форме именительного падежа. Например, «две» (имен. пад. «два») → «двѣ», но «четыре» (также в
        имен. пад.) так и кончается на «е».
    </li>
    <li>В некоторых словах «е» меняется на «ѣ». Но список ограничен, и может быть неточен. Ибо в ДО многие слова могли
        писаться через обе буквы, многие имеют омонимы, писавшиеся иначе. И формы всех слов имеют сложнуют морфологию
        (приставки, суффиксы, чередующие согласные и гласные, диалекты), предусмотреть все варианты едва ли возможно
        даже в сложнейших огромных коммерческих словарях.
    </li>
    <li>Окончания «ые» на → «ыя» не меняется. Такая замена нужна при существительных женского рода. Но выяснить род
        синтаксически без огромного словаря невозможно.
    </li>
</ul>
</p>
</body>
</html>